@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html {
  /*height: 100%;*/
  padding: 0px;
  margin: 0px;
  background-color: #333333;
  height: 100%;
}

body {
  margin: 20px;
  margin: 0px;
  min-height: 100%;
  background-image: url(../img/tweed.png);
  background-size: 60px 60px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-webkit-keyframes intro {
  from {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }

  35% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }

  45% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  58% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  70% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  80% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes intro {
  from {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }

  35% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }

  45% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  58% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  70% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  80% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes playing {
  from {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  20% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  60% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes playing {
  from {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  20% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  60% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

ul.intro li {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: intro;
  animation-name: intro;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

ul.intro li.delay-0 {
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms;
}

ul.intro li.delay-1 {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

ul.intro li.delay-2 {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

ul.intro li.delay-3 {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

ul.intro li.delay-4 {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

ul.intro li.delay-5 {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}

ul.intro li.delay-6 {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}

ul.intro li.delay-7 {
  -webkit-animation-delay: 700ms;
  animation-delay: 700ms;
}

ul.intro li.delay-8 {
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}

ul.intro li.delay-9 {
  -webkit-animation-delay: 900ms;
  animation-delay: 900ms;
}

ul.intro li.delay-10 {
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
}

ul.intro li.delay-11 {
  -webkit-animation-delay: 1100ms;
  animation-delay: 1100ms;
}

ul.intro li.delay-12 {
  -webkit-animation-delay: 1200ms;
  animation-delay: 1200ms;
}

ul.intro li.delay-13 {
  -webkit-animation-delay: 1300ms;
  animation-delay: 1300ms;
}

ul.intro li.delay-14 {
  -webkit-animation-delay: 1400ms;
  animation-delay: 1400ms;
}

ul.intro li.delay-15 {
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms;
}

ul.intro li.delay-16 {
  -webkit-animation-delay: 1600ms;
  animation-delay: 1600ms;
}

ul.intro li.delay-17 {
  -webkit-animation-delay: 1700ms;
  animation-delay: 1700ms;
}

ul.intro li.delay-18 {
  -webkit-animation-delay: 1800ms;
  animation-delay: 1800ms;
}

ul.intro li.delay-19 {
  -webkit-animation-delay: 1900ms;
  animation-delay: 1900ms;
}

ul.intro li.delay-20 {
  -webkit-animation-delay: 2000ms;
  animation-delay: 2000ms;
}

ul li {
  display: block;
  float: left;
  padding: 15px;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
}

ul li > div {
  border-radius: 50%;
  /*border: 1px solid #333;*/
  box-shadow: 4px 7px 13px -3px #333333;
  background-color: black;
  background-size: cover;
  background-position: 50% 50%;
  width: 80px;
  height: 80px;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  /*transition-property: box-shadow 0.5s ease-out; */
}

ul li > div.add {
  color: #333333;
  background: #fafafa;
  font-size: 68px;
  text-align: center;
}

ul li > div.playing {
  /* box-shadow: 0px 0px 60px -2px #fff;
                transition-duration: 0s;*/
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-name: playing;
  animation-name: playing;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

ul li > div.ng-click-active {
  /*box-shadow: 0px 0px 60px -2px #fff;
                transition-duration: 0s;*/
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.clear {
  clear: both;
}

#record,
#edit {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #333333;
  z-index: 100;
  opacity: 0;
  display: none;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

#record > div,
#edit > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  box-pack: center;
  height: 100%;
  /** Styling the Button **/
  /* Styling the Indicator light */
}

#record > div section,
#edit > div section {
  width: 125px;
  height: 155px;
  position: relative;
  text-align: center;
  display: none;
}

#record > div .button,
#edit > div .button {
  /*font-family: "FontAwesome";*/
  font-family: "Roboto";
  text-shadow: 0px 3px 3px rgba(250, 250, 250, 0.1);
  font-size: 40px;
  display: block;
  position: relative;
  text-decoration: none;
  box-shadow: 0px 3px 0px 0px #222222, 0px 7px 10px 0px #111111, inset 0px 1px 1px 0px rgba(250, 250, 250, 0.2), inset 0px -12px 35px 0px rgba(0, 0, 0, 0.5);
  width: 120px;
  height: 120px;
  border: 0;
  color: #252525;
  border-radius: 50%;
  /*35px;*/
  text-align: center;
  line-height: 122px;
  background-color: #53575d;
  -webkit-transition: color 150ms ease, text-shadow 150ms;
  transition: color 150ms ease, text-shadow 150ms;
}

#record > div .button:before,
#edit > div .button:before {
  content: "";
  width: 130px;
  height: 130px;
  display: block;
  z-index: -2;
  position: absolute;
  background-color: #1a1b1d;
  left: -5px;
  top: -2px;
  border-radius: 50%;
  /*40px;*/
  box-shadow: 0px 1px 0px 0px rgba(250, 250, 250, 0.1), inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#record > div .button.ng-click-active,
#edit > div .button.ng-click-active {
  box-shadow: 0px 0px 0px 0px #222222, 0px 3px 7px 0px #111111, inset 0px 1px 1px 0px rgba(250, 250, 250, 0.2), inset 0px -10px 35px 5px rgba(0, 0, 0, 0.5);
  background-color: #53575d;
  top: 3px;
}

#record > div .button.recording,
#edit > div .button.recording {
  box-shadow: 0px 0px 0px 0px #222222, 0px 3px 7px 0px #111111, inset 0px 1px 1px 0px rgba(250, 250, 250, 0.2), inset 0px -10px 35px 5px rgba(0, 0, 0, 0.5);
  background-color: #53575d;
  top: 3px;
  color: white;
  text-shadow: 0px 0px 3px #fafafa;
}

#record > div .button.ng-click-active:before,
#record > div .button.recording:before,
#edit > div .button.ng-click-active:before,
#edit > div .button.recording:before {
  top: -5px;
  background-color: #1a1b1d;
  box-shadow: 0px 1px 0px 0px rgba(250, 250, 250, 0.1), inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#record > div .dot,
#edit > div .dot {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #212121;
  box-shadow: inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5), 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  clear: both;
  position: absolute;
  bottom: 0;
  left: 43.7%;
  -webkit-transition: background-color 100ms, box-shadow 500ms;
  transition: background-color 100ms, box-shadow 500ms;
}

#record > div .dot.recording,
#edit > div .dot.recording {
  box-shadow: inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5), 0px 0px 3px 2px rgba(226, 0, 0, 0.5);
  background-color: #e20000;
}

#edit {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: vertical;
  -ms-flex-direction: vertical;
  box-orient: vertical;
}

/* general animations */

.animate-fade {
  -webkit-transition: 200ms linear opacity;
  transition: 200ms linear opacity;
}

.animate-fade.ng-hide-add,
.animate-fade.ng-hide-remove {
  display: -webkit-box !important;
}

.animate-fade.ng-hide {
  opacity: 0;
}