@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

html {
  /*height: 100%;*/
  padding: 0px;
  margin: 0px;
  background-color: #333333;
}

body {
  padding: 20px;
  margin: 0px;
  /*min-height: 100%;*/
  background-image: url(../img/tweed.png);
  background-size: 60px 60px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  box-align: center;
  float: left;
  width: 33.333%;
  height: 80px;
  margin-bottom: 10px;
}

ul li > div {
  border-radius: 50%;
  border: 1px solid #333333;
  box-shadow: 4px 7px 13px -3px #333333;
  background-color: black;
  background-size: cover;
  background-position: 50% 50%;
  width: 80px;
  height: 80px;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition-property: box-shadow 0.5s ease-out;
  transition-property: box-shadow 0.5s ease-out;
}

ul li > div.add {
  color: #333333;
  background: #fafafa;
  font-size: 68px;
  text-align: center;
}

ul li > div.playing {
  box-shadow: 0px 0px 60px -2px white;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

ul li > div.ng-click-active {
  box-shadow: 0px 0px 60px -2px white;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  opacity: 0.7;
}

.clear {
  clear: both;
}

#record,
#edit {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #333333;
  z-index: 100;
  opacity: 0;
  display: none;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

#record > div,
#edit > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  box-pack: center;
  height: 100%;
  /** Styling the Button **/
  /* Styling the Indicator light */
}

#record > div section,
#edit > div section {
  width: 125px;
  height: 155px;
  position: relative;
  text-align: center;
  display: none;
}

#record > div .button,
#edit > div .button {
  /*font-family: "FontAwesome";*/
  font-family: "Roboto";
  text-shadow: 0px 3px 3px rgba(250, 250, 250, 0.1);
  font-size: 40px;
  display: block;
  position: relative;
  text-decoration: none;
  box-shadow: 0px 3px 0px 0px #222222, 0px 7px 10px 0px #111111, inset 0px 1px 1px 0px rgba(250, 250, 250, 0.2), inset 0px -12px 35px 0px rgba(0, 0, 0, 0.5);
  width: 120px;
  height: 120px;
  border: 0;
  color: #252525;
  border-radius: 50%;
  /*35px;*/
  text-align: center;
  line-height: 122px;
  background-color: #53575d;
  -webkit-transition: color 150ms ease, text-shadow 150ms;
  transition: color 150ms ease, text-shadow 150ms;
}

#record > div .button:before,
#edit > div .button:before {
  content: "";
  width: 130px;
  height: 130px;
  display: block;
  z-index: -2;
  position: absolute;
  background-color: #1a1b1d;
  left: -5px;
  top: -2px;
  border-radius: 50%;
  /*40px;*/
  box-shadow: 0px 1px 0px 0px rgba(250, 250, 250, 0.1), inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#record > div .button.ng-click-active,
#edit > div .button.ng-click-active {
  box-shadow: 0px 0px 0px 0px #222222, 0px 3px 7px 0px #111111, inset 0px 1px 1px 0px rgba(250, 250, 250, 0.2), inset 0px -10px 35px 5px rgba(0, 0, 0, 0.5);
  background-color: #53575d;
  top: 3px;
}

#record > div .button.recording,
#edit > div .button.recording {
  box-shadow: 0px 0px 0px 0px #222222, 0px 3px 7px 0px #111111, inset 0px 1px 1px 0px rgba(250, 250, 250, 0.2), inset 0px -10px 35px 5px rgba(0, 0, 0, 0.5);
  background-color: #53575d;
  top: 3px;
  color: white;
  text-shadow: 0px 0px 3px #fafafa;
}

#record > div .button.ng-click-active:before,
#record > div .button.recording:before,
#edit > div .button.ng-click-active:before,
#edit > div .button.recording:before {
  top: -5px;
  background-color: #1a1b1d;
  box-shadow: 0px 1px 0px 0px rgba(250, 250, 250, 0.1), inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#record > div .dot,
#edit > div .dot {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #212121;
  box-shadow: inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5), 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  clear: both;
  position: absolute;
  bottom: 0;
  left: 43.7%;
  -webkit-transition: background-color 100ms, box-shadow 500ms;
  transition: background-color 100ms, box-shadow 500ms;
}

#record > div .dot.recording,
#edit > div .dot.recording {
  box-shadow: inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5), 0px 0px 3px 2px rgba(226, 0, 0, 0.5);
  background-color: #e20000;
}

#edit {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: vertical;
  -ms-flex-direction: vertical;
  box-orient: vertical;
}

/* general animations */

.animate-fade {
  -webkit-transition: 200ms linear opacity;
  transition: 200ms linear opacity;
}

.animate-fade.ng-hide-add,
.animate-fade.ng-hide-remove {
  display: -webkit-box !important;
}

.animate-fade.ng-hide {
  opacity: 0;
}