<?xml version='1.0' encoding='utf-8'?>
<widget id="se.burningbroccoli.soundboard" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Sound Board</name>
    <description>
        DIY Sound Board
    </description>
    <author email="david.lgj@gmail.com" href="burningbroccoli.se">
        David Jensen
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
</widget>
