<?xml version='1.0' encoding='utf-8'?>
<widget id="se.burningbroccoli.soundboard" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SoundCircles Custom Soundboard</name>
    <description>
        DIY Sound Board
    </description>
    <author email="david.lgj@gmail.com" href="burningbroccoli.se">
        David Jensen
    </author>
    <content src="index.html" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="splashscreen" value="tweed" />
    <preference name="splashScreenDelay" value="10000" />

</widget>
